{% extends 'base.html' %}

{% block content %}
    <table width="100%" border="1" cellpadding="10" cellspacing="0">
        <thead>
            <tr>
                <th>Blog</th>
                <th>Ultima publicacion</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            {% for author in user_blogs %}
                <tr>
                    <td>
                        <a href="{% url 'author_blog' post.author %}" title="Ir al blog {{ post.author }}">
                            {{ post.title }}</a>
                    </td>
                    <td>
                        <a href="{% url 'post_detail' post.pk %}" title="View {{ post.title }}"></a>
                    </td>
                    <td>{{ post.created_at }}</td>
                 </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}