{% extends 'base.html' %}

{% block content %}

{% for post in post_objects %}
    <a href="{% url 'post_detail' post.pk %}" title="View {{ post.title }}">
        <h2>{{ post.title }}</h2>
    </a>
    <a href="{% url 'post_detail' post.pk %}" title="View {{ post.title }}">
        <img src="{{ post.img_url }}" alt="{{ post.img_description }}">
    </a>
    <h4>{{ post.author.first_name }} {{ post.author.last_name }}</h4>
    <h4>{{ post.created_at }}</h4>
    <p>{{ post.description }}</p>

{% endfor %}

{% endblock %}