{% extends 'base.html' %}

{% block content %}
    <table width="100%" border="1" cellpadding="10" cellspacing="0">
        <thead>
            <tr>
                <th>Post</th>
                <th>Author</th>
                <th>Description</th>
                <th>Created</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts_objects %}
                <tr>
                    <td>
                        <a href="{% url 'posts_detail' post.pk %}" title="View {{ post.title }}">
                            {{ post.title }}
                        </a>
                    </td>
                    <td>{{ post.author.first_name }} {{ post.author.last_name }}</td>
                 </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}